<a href="https://colab.research.google.com/github/letter-b/lab-dw-data-cleaning-and-formatting/blob/main/lab_dw_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
#1.
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

In [2]:
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
df.shape

(4008, 11)

In [3]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [46]:
#Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
# Step 1: Count unique values in each column
unique_counts = df.nunique()
print("Unique values in each column:")
print(unique_counts)
print()  # Add a blank line for better readability

# Step 2: Identify column types
# Categorical columns are non-numeric
categorical_cols = df.select_dtypes(include=['object', 'category']).columns

# Numerical columns are numeric
numerical_cols = df.select_dtypes(include=['number']).columns

# Step 3: Show info about categorical columns
print("Categorical columns and some unique values:")
for col in categorical_cols:
    # Get unique values
    unique_vals = df[col].unique()
    print(f"\nColumn: {col}")
    print(f"Number of unique values: {len(unique_vals)}")
    print(f"Sample unique values: {unique_vals[:10]}")  # Show only the first 10

# Step 4: Show statistics for numerical columns
print("\nStatistics for numerical columns:")
print(df[numerical_cols].describe())

# Step 5: Insights about data
print("\nSome insights:")
# For categorical columns
for col in categorical_cols:
    # Most common value (mode) in the column
    most_common_value = df[col].mode()[0]
    print(f"The most common value in '{col}' is '{most_common_value}'")

# For numerical columns
for col in numerical_cols:
    # Find min and max values
    min_value = df[col].min()
    max_value = df[col].max()
    print(f"The range of values in '{col}' is from {min_value} to {max_value}")

# Step 6: Check missing values
missing_values = df.isnull().sum()
print("\nMissing values in each column (if any):")
print(missing_values[missing_values > 0])

Unique values in each column:
Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

Categorical columns and some unique values:

Column: Customer
Number of unique values: 1072
Sample unique values: ['RB50392' 'QZ44356' 'AI49188' 'WW63253' 'GA49547' 'OC83172' 'XZ87318'
 'CF85061' 'DY87989' 'BQ94931']

Column: ST
Number of unique values: 9
Sample unique values: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

Column: GENDER
Number of unique values: 6
Sample unique values: [nan 'F' 'M' 'Femal' 'Male' 'female']

Column: Education
Number of unique values: 7
Sample unique values: ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

Column: Customer Lifetime Value
Number of unique values: 1028
Sample unique values: [nan '697953.59%' '1288743.17%' '764586.18%' '536307.65%' '825629.78%'
 '538089.86%' '721610.03%' '2412750.40%' '738817.81%']

Column: Number of Open Complaints
Number of unique values: 7
Sample unique values: ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]

Column: Policy Type
Number of unique values: 4
Sample unique values: ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]

Column: Vehicle Class
Number of unique values: 7
Sample unique values: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

Statistics for numerical columns:
             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

Some insights:
The most common value in 'Customer' is 'AA71604'
The most common value in 'ST' is 'Oregon'
The most common value in 'GENDER' is 'F'
The most common value in 'Education' is 'Bachelor'
The most common value in 'Customer Lifetime Value' is '251459.20%'
The most common value in 'Number of Open Complaints' is '1/0/00'
The most common value in 'Policy Type' is 'Personal Auto'
The most common value in 'Vehicle Class' is 'Four-Door Car'
The range of values in 'Income' is from 0.0 to 99960.0
The range of values in 'Monthly Premium Auto' is from 61.0 to 35354.0
The range of values in 'Total Claim Amount' is from 0.382107 to 2893.239678

Missing values in each column (if any):
Customer                     2937
ST                           2937
GENDER                       3054
Education                    2937
Customer Lifetime Value      2940
Income                       2937
Monthly Premium Auto         2937
Number of Open Complaints    2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64

In [28]:
#Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
summary_stats = df.describe().round(2)
print(summary_stats)

central_tendency = summary_stats.loc[['mean', '50%', 'min', 'max']]
print("\nCentral Tendency:")
print(central_tendency)

#I can possibly conclude that lower incomes purchase the lower insurance and receive the lowest amount per claim
#In reverse, the highest income - possibly more expensive cars as well - have a higher price and higher total claim, but not necessarily more return on claim amount

         Income  Monthly Premium Auto  Total Claim Amount
count   1071.00               1071.00             1071.00
mean   39295.70                193.23              404.99
std    30469.43               1601.19              293.03
min        0.00                 61.00                0.38
25%    14072.00                 68.00              202.16
50%    36234.00                 83.00              354.73
75%    64631.00                109.50              532.80
max    99960.00              35354.00             2893.24

Central Tendency:
       Income  Monthly Premium Auto  Total Claim Amount
mean  39295.7                193.23              404.99
50%   36234.0                 83.00              354.73
min       0.0                 61.00                0.38
max   99960.0              35354.00             2893.24

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [30]:
# Your code here
pd.Series(df['ST'].value_counts()).sort_values().head(5)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [32]:
value_counts = df['Policy Type'].value_counts()
print(value_counts)
print(value_counts.idxmax())

pd.Series(df['Policy Type'].value_counts())

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Personal Auto

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [40]:
df_personal = df.loc[df['Policy Type'] == 'Personal Auto']
df_corporate = df.loc[df['Policy Type'] == 'Corporate Auto']
print(df_personal['Income'].mean().round(2))
print(f"For the personal auto policies coveragem the average income is: {df_personal['Income'].mean().round(2)}.")
print(df_corporate['Income'].mean().round(2))
print(f"For the corporate auto policies coveragem the average income is: {df_corporate['Income'].mean().round(2)}.")

38180.7
For the personal auto policies coveragem the average income is: 38180.7.
41390.31
For the corporate auto policies coveragem the average income is: 41390.31.

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [43]:
# Step 1: Calculate the 75th percentile for Total Claim Amount
quantile_75 = df['Total Claim Amount'].quantile(0.75)

# Step 2: Filter the DataFrame for high total claim amounts
high_claim_customers = df[df['Total Claim Amount'] > quantile_75]

# Step 3: Create a DataFrame
# high_claim_customers is already a DataFrame containing the filtered information

# Step 4: Calculate summary statistics
high_claim_stats = high_claim_customers.describe()

print("75th Percentile of Total Claim Amount:", quantile_75)
print("\nHigh Claim Customers Summary Statistics:")
print(high_claim_stats)

75th Percentile of Total Claim Amount: 532.8

High Claim Customers Summary Statistics:
             Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678