<a href="https://colab.research.google.com/github/letter-b/lab-dw-data-cleaning-and-formatting/blob/main/lab_dw_data_cleaning_and_formatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [2]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)
df.head()

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df.columns

df.rename(columns={'st':'state'}, inplace=True)
df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [3]:
#Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".
print(df['gender'].unique())
df['gender'] = df['gender'].replace({'Femal':'F', 'female':'F', 'Male':'M'})

[nan 'F' 'M' 'Femal' 'Male' 'female']

In [4]:
#State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
print(df['state'].unique())
df['state'] = df['state'].replace({'AZ':'Arizona', 'Cali':'California', 'WA':'Washington'})

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

In [5]:
#In education, "Bachelors" could be replaced by "Bachelor"
df['education'].unique()
df['education'] = df['education'].replace({'Bachelors':'Bachelor'})

In [6]:
#In Customer Lifetime Value, delete the % character
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')

In [7]:
#In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
print(df['vehicle_class'].unique())
df['vehicle_class'] = df['vehicle_class'].replace({'Sports Car':'Luxury', 'Luxury SUV':'Luxury', 'Luxury Car':'Luxury'})

['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [8]:
df['number_of_open_complaints'].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [9]:
# Customer lifetime value should be numeric
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')
display(df['customer_lifetime_value'].head())

0           NaN
1     697953.59
2    1288743.17
3     764586.18
4     536307.65
Name: customer_lifetime_value, dtype: float64

In [10]:
#Number of open complaints has an incorrect format. Look at the different values it takes with unique() and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use split() to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.
print(df['number_of_open_complaints'].unique())
#df['number_of_open_complaints'].astype(str)
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1]
print(df['number_of_open_complaints'].unique())
df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda x: int(x) if pd.notna(x) else x)
#display(df['number_of_open_complaints'].isna().any())

['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
['0' '2' '1' '3' '5' '4' nan]

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [11]:
# Identifying null values
df.isnull().sum()

customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [12]:
# Drop the rows or columns with null values
df = df.dropna() # Removed this line as it caused the DataFrame to become empty

In [13]:
# Find the type per column
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [14]:
#Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
df['customer_lifetime_value'] = df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].mean())
df['income'] = df['income'].fillna(df['income'].median())
df['monthly_premium_auto'].fillna(df['monthly_premium_auto'].median())
df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna(df['number_of_open_complaints'].median())
df['total_claim_amount'] = df['total_claim_amount'].fillna(df['total_claim_amount'].median())

df['customer'] = df['customer'].fillna(df['customer'].mode()[0])
df['state'] = df['state'].fillna(df['state'].mode()[0])
df['gender'] = df['gender'].fillna(df['gender'].mode()[0])
df['education'] = df['education'].fillna(df['education'].mode()[0])
df['policy_type'] = df['policy_type'].fillna(df['policy_type'].mode()[0])
df['vehicle_class'] = df['vehicle_class'].fillna(df['vehicle_class'].mode()[0])

In [15]:
#MUCH SIMPLER WAY:
# Loop over each column and fill missing values based on its data type
for column in df.columns:
    if df[column].dtype in [np.float64]:  # Numerical columns
        mean_value = df[column].mean()
        df[column] = df[column].fillna(mean_value)
    elif df[column].dtype == object:  # Categorical columns
        mode_value = df[column].mode()[0]
        df[column] = df[column].fillna(mode_value)

# Verifying the handling of null values
null_counts_after = df.isnull().sum()
print(f"Columns with null values after handling:\n{null_counts_after[null_counts_after > 0]}")

Columns with null values after handling:
Series([], dtype: int64)

In [16]:
#Fill the null values with the previous or next value in the column
df = df.ffill()
print(df.head())

  customer       state gender             education  customer_lifetime_value  \
1  QZ44356     Arizona      F              Bachelor                697953.59
2  AI49188      Nevada      F              Bachelor               1288743.17
3  WW63253  California      M              Bachelor                764586.18
4  GA49547  Washington      M  High School or Below                536307.65
5  OC83172      Oregon      F              Bachelor                825629.78

    income  monthly_premium_auto  number_of_open_complaints     policy_type  \
1      0.0                  94.0                        0.0   Personal Auto
2  48767.0                 108.0                        0.0   Personal Auto
3      0.0                 106.0                        0.0  Corporate Auto
4  36357.0                  68.0                        0.0   Personal Auto
5  62902.0                  69.0                        0.0   Personal Auto

   vehicle_class  total_claim_amount
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
5   Two-Door Car          159.383042

In [17]:
df.isnull().sum()

# Approach: Re-checked the dataset using isnull().sum() to ensure all null values were appropriately handled.
# Outcome: No null values remained, indicating successful execution of the strategy.

#Reasoning:
#Numerical Columns: Chosen to fill missing values with the mean because it maintains the average trend and is less sensitive to outliers than the median.
#Categorical Columns: Chosen to fill missing values with the mode, as it is the most common occurrence in the data, thereby preserving the distribution and variability of the data.

#Columns such as customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, and total_claim_amount had missing values (specific null counts can be added).
#Categorical columns such as customer, state, gender, education, etc., were also checked, although they typically have fewer missing values.

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [18]:
# Use the .duplicated() method to identify any duplicate rows in the dataframe.
duplicates = df[df.duplicated()]
print(f"Number of duplicate rows: {duplicates.shape[0]}")

Number of duplicate rows: 0

In [21]:
#Implement your chosen strategy using the drop_duplicates() function.
#In this case, I'll keep the first occurrence of each duplicated row and drop subsequent ones, as this typically retains the original data collection order and discards redundant information.
df = df.drop_duplicates(keep='first')
df.reset_index(drop=True, inplace=True)
print(f"Number of duplicate rows after dropping: {df.duplicated().sum()}")

Number of duplicate rows after dropping: 0

In [22]:
#Saving to cvs
df.to_csv('cleaned_file1.csv', index=False)

In [32]:
#Trying to find cvs file created
from google.colab import files
files.download('cleaned_file1.csv')

In [33]:
#for fun, trying to find de actual open complaints and seeing the total paid out to costumers
# Filter the DataFrame to only include rows with open complaints (not equal to 0)
open_complaints = df[df['number_of_open_complaints'] != 0]

# Calculate the total sum of 'total_claim_amount' for the filtered rows
total_claim_sum = open_complaints['total_claim_amount'].sum()

# Print the result with two decimal places
print(f"The total sum of claim amounts for non-zero complaints is: ${total_claim_sum:.2f}")

The total sum of claim amounts for non-zero complaints is: $81575.76

## **Bonus: Challenge 2: creating functions on a separate `py` file**

---

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [54]:
import pandas as pd

def load_data(url):
    return pd.read_csv(url)

def handle_missing_values(df):
    # Example: fill NA with the mean of the column
    return df.fillna(df.mean())

def remove_duplicates(df):
    return df.drop_duplicates()

def rename_columns(df):
    # Example: make all column names lowercase
    df.columns = df.columns.str.lower()
    return df

def clean_data(url):
    df = load_data(url)
    df = handle_missing_values(df)
    df = remove_duplicates(df)
    df = rename_columns(df)
    return df

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [39]:
total_claim_amount = df['total_claim_amount']
customer_lifetime_value = df['customer_lifetime_value']

print(total_claim_amount.describe())
print(customer_lifetime_value.describe())

pd.concat([total_claim_amount, customer_lifetime_value], axis=1).describe()

count     952.000000
mean      404.999156
std       299.238726
min         0.382107
25%       196.724587
50%       350.400000
75%       534.000000
max      2893.239678
Name: total_claim_amount, dtype: float64
count    9.520000e+02
mean     7.942013e+05
std      6.258792e+05
min      2.004351e+05
25%      4.117836e+05
50%      5.885745e+05
75%      9.037509e+05
max      4.479547e+06
Name: customer_lifetime_value, dtype: float64

       total_claim_amount  customer_lifetime_value
count          952.000000             9.520000e+02
mean           404.999156             7.942013e+05
std            299.238726             6.258792e+05
min              0.382107             2.004351e+05
25%            196.724587             4.117836e+05
50%            350.400000             5.885745e+05
75%            534.000000             9.037509e+05
max           2893.239678             4.479547e+06

In [41]:
claim_75th_percentile = total_claim_amount.quantile(0.75)
costumer_lifetime_value_25th_percentile = customer_lifetime_value.quantile(0.25)

print(claim_75th_percentile)
print(costumer_lifetime_value_25th_percentile)

534.0
411783.57999999996

In [44]:
filtered_df = df[(total_claim_amount > claim_75th_percentile) &
                 (customer_lifetime_value < costumer_lifetime_value_25th_percentile)]

In [51]:
summary_stats = (filtered_df[['total_claim_amount', 'customer_lifetime_value']].describe().round(2))
print(summary_stats)

       total_claim_amount  customer_lifetime_value
count               35.00                    35.00
mean               712.07                343009.59
std                145.44                 57540.92
min                537.60                228759.69
25%                631.92                299913.54
50%                679.37                366737.50
75%                757.54                386921.19
max               1185.99                407913.27